* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 50vh;
}

.sqd1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  background-color: #f53d1b;
  border: 10px solid black;
  color: #f53d1b;
}

.sqd2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  background-color: #23de90;
  border: 10px solid black;
  color: #23de90;
}

.sqd3 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  background-color: #6d4cf5;
  border: 10px solid black;
  color: #6d4cf5;
}

.sqd4 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 50vh;
  background-color: #f5df27;
  border: 10px solid black;
  color: #f5df27;
}

@media (min-width: 150px) and (max-width: 414px) {
  .container {
    flex-direction: column;
  }

  .sqd1 {
    background-color: #f5df27;
    color: #f5df27;
  }

  .sqd2 {
    background-color: #6d4cf5;
    color: #6d4cf5;
  }

  .sqd3 {
    background-color: #23de90;
    color: #23de90;
  }

  .sqd4 {
    background-color: #f53d1b;
    color: #f53d1b;
  }
}

@media (max-width: 768px) {
  .sqd1 {
    background-color: #23de90;
    color: #23de90;
  }

  .sqd2 {
    background-color: #f53d1b;
    color: #f53d1b;
  }

  .sqd3 {
    background-color: #f5df27;
    color: #f5df27;
  }

  .sqd4 {
    background-color: #6d4cf5;
    color: #6d4cf5;
  }
}
